.header{
    width: 98.5%;
    height: 50px;
    background-color: aquamarine;
    margin-bottom: 5px;
}
.box{
    width: 1320px;
}
.left{
    width: 210px;
    float: left;
}
.row1{
    width: 210px;
    background-color: crimson;
    height: 220px;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}
.row2{
    width: 210px;
    background-color: blue;
    height: 340px;
    float: left;
    margin-right: 5px;
}
.right{
    width: 1100px;
    float: left;
}
.col1{
    width: 1100px;
    background-color: coral;
    height: 430px;
    margin-bottom: 5px;
    float: left;
    margin-left: 5px;
    
    
}
.col2{
     width: 1100px;
    background-color: chocolate;
    height: 130px;
    float: left;
    margin-left: 5px;
}