.container{
    width: 100%;
}
.left {
    height:600px;
    width:20%;
    background-color:rosybrown;
    float:left;
}

.right {
    width:80%;
    float: left;
}

.col1 {
    height:150px;
    background-color: firebrick;
    float: left;
    width:80%;
     
}

.col2 {
    height:300px;
    background-color: saddlebrown;
    float: left;
    width: 80%;
    
}
.col3{
    background-color: firebrick;
    width: 80%;
    height: 150px;
    float: left;
}

